<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Bio-SODA" packages="">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n" charset="UTF-8"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="STDOUT"/>
    </Root>
    <Logger name="ch.ethz.semdwhsearch.prototyp1.RunStandaloneSemDwhSearch" level="info"/>
  </Loggers>
</Configuration>
